@font-face {
  font-family: SourceSansPro-Regular;
  src: url(/fonts/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: SourceSansPro-Light;
  src: url(/fonts/SourceSansPro-Light.otf);
}

@font-face {
  font-family: SourceSansPro-Black;
  src: url(/fonts/SourceSansPro-Black.otf);
}


body{
  font-family: SourceSansPro-Regular, sans-serif;
  background-color: none;
  font-size: 18px;
}

h1 {
  font-family: SourceSansPro-Black;
  font-size: 40px;
}


.text-muted {
  color: #999;
}
.label-default {
  background-color: #eee;
  color: inherit;
}


.padding {
  height: 18px;
}

.content {
  padding-top: 60px;
}

#face-div {
  padding-top: 40px;
  padding-bottom: 18px;
}
#face-div img{
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  width: 180px;
}

#social-icons {
  font-size: 24px;
}

ul {
  margin: 0;
  padding-left: 18px;
  padding-bottom: 18px;
  font-size: 90%
}
ul {
  list-style-type: none;
}
ul > li {
  text-indent: -5px;
}
ul > li:before {
  content: "- ";
  text-indent: -5px;
}

a {
  color:#DD626C;
}
a:hover {
  color:#FDA0A6;
  text-decoration: none;
}

@media only screen and (max-width : 767px) {
  #face-div {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  #face-div img{
    height: 120px;
    width: 120px;
  }
  .content {
    padding-top: 0px;
  }
  h1 {
    font-size: 36px;
  }

}
