@font-face {
  font-family: SourceSansPro-Regular;
  src: url(/fonts/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: SourceSansPro-Light;
  src: url(/fonts/SourceSansPro-Light.otf);
}

@font-face {
  font-family: FjordOne-Regular;
  src: url(/fonts/FjordOne-Regular.otf);
}

body{
  font-family: SourceSansPro-Light;
  background-color: none;
  font-size: 18px;
}

h3 {
  font-family: FjordOne-Regular;
  font-size: 2.4em;
}

h4 {
  font-family: FjordOne-Regular;
  font-size: 1.5em;
}


#face img{
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  width: 180px;
}

#face{
  padding-top: 40px;
  padding-bottom: 18px;
}

#social-icons {
  font-size: 24px;
}

.content {
  padding-top: 60px;
}


ul {
  margin: 0;
  padding-left: 18px;
  padding-bottom: 18px;
  font-size: 90%
}
ul {
  list-style-type: none;
}
ul > li {
  text-indent: -5px;
}
ul > li:before {
  content: "- ";
  text-indent: -5px;
}

a {
  color:#DD626C;
}

a:hover {
  color:#FDA0A6;
  text-decoration: none;
}

@media only screen and (max-width : 767px) { 
  #face{
    padding-top: 0px;
  }
  .content {
    padding-top: 40px;
  }

}
