/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

@font-face {
  font-family: SourceSansPro-Regular;
  src: url(/fonts/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: SourceSansPro-Light;
  src: url(/fonts/SourceSansPro-Light.otf);
}

@font-face {
  font-family: FjordOne-Regular;
  src: url(/fonts/FjordOne-Regular.otf);
}

h3 {
  font-family: FjordOne-Regular;
  font-size: 2.4em;
}

h4 {
  font-family: FjordOne-Regular;
  font-size: 1.5em;
}

body p {
  font-family: SourceSansPro-Light;
  font-size: 1.3em;
}

.reads ul{
  font-family: SourceSansPro-Light;
  font-size: 1em;
}

#face img{
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
}

#face{
  padding-top: 2em;
  padding-bottom: 2em;
}

#home{
  padding-top: 6em;
  max-width: 800px;
}

@media screen and (max-width: 320px) {
  #face img{
    height: 100px;
    width: 100px;
  }
  #face.span4 {
    padding-top: 2em;
    padding-bottom: 1em;
  }
  #home{
    padding-top: 0;
  }
}

body{
  background-color: none;
}

a{
  color:#68C3A3;
}

a:hover{
  color:#F64747;
  text-decoration: none;
}
