

<div class="row-fluid" style="padding-top:10em;">

  	<div class="span4">
  		<img src="/img/IMG_0711_circle.jpg" height="200em" width="200em">
  	</div>

  	<div class="span8">
  		<h3>Hi! I'm Cathy</h3>


  		{{ content }}

  		<p style="font-style:italic;">
  			Contact me via <a href="https://twitter.com/cthydng">twitter</a> or email (cathyd125 at gmail)
    	</p>
    	<br>
    	<p>
    		<a href="http://www.rdio.com/people/cmd125/">rdio</a> | 
    		<a href="https://plus.google.com/u/0/+CathyDeng/">google+</a> | 
    		<a href="http://www.linkedin.com/in/cmd125">linkedin</a>
    	</p>
	</div>
</div>