

<div class="row-fluid" style="padding-top:10em;">

  	<div class="span4" style="padding-top:2em;">
  		<img src="/img/IMG_0711_circle.jpg" height="200em" width="200em">
  	</div>

  	<div class="span8">
  		<h3>Hi! I'm Cathy</h3>

      <p>I live in Chicago, Illinois.</p>
      <p>I work in civic tech - during the day, I play with code and data.</p>
      <p>In my free time, I enjoy learning, reading, <a href="http://athlinks.com/athletes/cathyd125/Profile">running</a>, <a href="http://www.rdio.com/people/cmd125/">music</a>, and <a href="https://github.com/cathydeng">trying to make stuff</a>. Most recently, I made <a href="http://expunge.io">expunge.io</a>, a tool that seeks to lower barriers to juvenile expungement in IL.</p>

      <p style="font-style:italic;">
        You can reach me at cathyd125 (at) gmail
      </p>
      <br>
      <p>
        <a href="https://twitter.com/cthydng">twitter</a> | 
        <a href="https://github.com/cathydeng">github</a> | 
        <a href="https://plus.google.com/u/0/+CathyDeng/">google+</a> | 
        <a href="http://www.linkedin.com/in/cmd125">linkedin</a>
      </p>
	</div>
</div>