

<div class="row-fluid" style="padding-top:10em;">

  	<div class="span4" style="padding-top:2em;">
  		<img src="/img/IMG_0711_circle.jpg" height="200em" width="200em">
  	</div>

  	<div class="span8">
  		<h3>Hi! I'm Cathy</h3>


  		<p>I live in Chicago, Illinois.</p>
  		<p>During the day, I’m a consultant - I help companies manage and understand their data.</p>
  		<p>Outside of my day job, I like to spend my time learning, reading, <a href="http://athlinks.com/athletes/cathyd125/Profile">running</a> and <a href="https://github.com/cathydeng">trying to make stuff</a>.</p>


  		{{ content }}

  		<p style="font-style:italic;">
  			Contact me via <a href="https://twitter.com/cthydng">twitter</a> or email (cathyd125 at gmail)
    	</p>
    	<br>
    	<p>
    		<a href="http://www.rdio.com/people/cmd125/">rdio</a> | 
    		<a href="https://plus.google.com/u/0/+CathyDeng/">google+</a> | 
    		<a href="http://www.linkedin.com/in/cmd125">linkedin</a>
    	</p>
	</div>
</div>